.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  margin: 0 auto;
  max-width: 880px;
  gap: 20px 17px;
}

@media screen and (max-width: 620px) {
  .cards {
    padding: 36px 0 0;
  }
}
