.elements__card-like {
  width: 22px;
  height: 19px;
  justify-self: flex-end;
  background-image: url('../../../images/like.svg');
  border: none;
  background-color: white;
  transition: 0.2s linear;
  cursor: pointer;
  margin-right: 20px;
}

.elements__card-like:hover {
  opacity: 0.5;
}
