.popup__content {
  background-color: #ffffff;
  color: #000000;
  max-width: 430px;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  top: 22%;
  margin: 0 auto;
}

@media screen and (max-width: 475px) {
  .popup__content {
    max-width: 343px;
    margin: 0px 16px;
    top: 14%;
  }
}

@media screen and (max-width: 320px) {
  .popup__content {
    max-width: 242px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 26px;
    padding-bottom: 22px;
  }
}
