.profile__avatar {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

@media screen and (max-width: 620px) {
  .profile__avatar {
    margin-bottom: 26px;
    margin-right: 0;
  }
}
